@font-face{
    font-family: outerFont;
    src: url('../public/outerFont.TTF');
}
@font-face {
    font-family: filledFont;
    src: url('../public/filledFont.TTF');
}
*{
    margin:0px;
    padding:0px;
    position:relative;
    box-sizing:border-box;
}
body{
    height: 100vh;
    background-color:#222;
    display: grid;
    gap: 10px;
    padding:20px;
}
h1{
    font-family: 'filledFont';
    color:#fff;
    text-align:center;
}
h2{
    font-family: 'outerFont';
    color:#fff;
    text-align: center;
}
canvas{
    margin:0 auto;
}
